@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*---------------------------------------------------------------Colors*/

header
{
background-image: url("/assests/images/gaming.jpg");
    padding: 10px;
    text-align: center;
    color: white;

}

html, body 
{
    margin : 0;
    padding : 0;
}



.menuitem a
{
    width:100%;
    height:120px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
}

footer
{
background-image: url("/assests/images/gaming.jpg");
    padding: 10px;
    text-align: center;
    color: white;
}



.gametitle
    {padding: 10px;
    }
    
    .title
    {
        font: bold;
        font-size: 18px;
        margin: 2px;
    }
    
    .comingsoon
    {
        font-size: 40px;
    }

.mkx
{
    display: inline-block;
}

.media
{
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin: 5px;
    
}

.mediagames
{
    line-height: 200%;

}
