


/*background added with text for scrolling purposes and better presentation*/

.welcome-container
{
        height: 100vh;
    
  background: url("../images/bg.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  display:flex;
  align-items: center;
  justify-content: center;
}


/*background added with text for scrolling purposes and better presentation*/

.text-container
{
    
}

/*jumbotron text amend*/

.jumbotron
{
    background-color: transparent;
}

.jumbotron-header
{
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    font-style: italic;
}
 
.mk-container
{
    
}

/*navbar colours updated more impact on the main page better colour usage*/

.bg-light {
  background-color: #000000!important;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: rgba(251, 251, 251, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.navbar-light .navbar-text {
  color: rgb(255, 255, 255);
}

.navbar-light .navbar-brand {
  color: rgba(255, 255, 255, 0.9);
}

/*block divider*/

.block-divider
 {
  width: 30%;
  height: 5px;
  border: 0;
  background-color: cyan;

}
