


/*background added with text for scrolling purposes and better presentation*/

.welcome-container
{
        height: 100vh;
    
  background: url("../images/bg.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  display:flex;
  align-items: center;
  justify-content: center;
  
  position: relative
}



/*.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}*/



/*page headers - Amends to the headers and their original set up */

.page-header 
{
  margin-bottom: 0;
  border-bottom: 0;
  text-align: center;
}


/*buttons edit*/

.btn--signup {
    font-weight: bold;
    border-radius: 23px;
    width: 80px;
    background-color:#f73cff;
    border-color: #f73cff;
}

.btn--pink{
    color:white;
    background-color:#f73cff;
    border-color: #f73cff;
    border-radius: 23px;
}

.btn--pink:hover,
.btn--pink:active,
.btn--pink:focus,
.btn--pink:active {
    background-color:#f73cff;
    border-color: #f73cff;
}



/*background added with text for scrolling purposes and better presentation*/


/*jumbotron text amend*/

.jumbotron
{
    background-color: transparent;
}

.jumbotron-header
{
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    font-style: italic;
}
 

/*navbar colours updated more impact on the main page better colour usage*/


.navbar-container
{
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
  color: black;
}
.bg-light
{
  background-color: #000000!important;
  border-right-width: 0px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;

}

.btn--light:hover,
.btn--light:active,
.btn--light:focus,
.btn--light:active
{
  background-color: #000000!important;
  font-weight: bold;
}

.navbar-light .navbar-nav .active.nav-link {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:active
{
    color: white;
    font-weight: bold;
}
/*bold text added to the nav bar words improving visibility when clicking*/
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:active,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover
{
  color: white;
  font-weight: bold;
}

.navbar-light .navbar-text {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.footer
{
  position: absolute;
  font-weight: bold;
}
.navbar-light .navbar-brand {
  color: rgb(255, 255, 255);
}

.navbar-light .navbar-text {
  color: rgb(255, 255, 255);
}

.navbar-light .navbar-brand {
  color: rgb(255, 255, 255);
}



/*block divider*/

.block-divider--blue
 {
  width: 30%;
  height: 5px;
  border: 0;
  background-color: cyan;

}

.navbar-light .navbar-toggler {
  color: #ff07ea;
  border-color: #f9f8f4;
  border:0;
}



/*alert - text amends and display including features*/

.alert-container .col-12
{
  padding-left: 0;
  padding-right:0;
}

.alert-warning {
  border-radius: 0;
  margin-bottom: 0;
  padding: 5px 15px;
  background-color: #56fefe;
  border-color: #56fffb;
  color: black;
}

